.home-page {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100vh;
}

.home-grid {

    background-color: hsl(46, 97%, 70%); 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 6;
    
 }

 